
@{
    ViewBag.Title = "Index";
}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>

<!--#region Old Code  -->
@*<div class="container">
        <div id="tableCategoryContainer">
            @{
                Html.RenderAction("CategoryTable");
            }
        </div>

        <hr />

        <div id="createCategoryContainer">

        </div>
    </div>*@
<!--#endregion Old Code  -->

<section class="flat-row flat-iconbox">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section">
                    <h2 class="title">
                        Categories
                    </h2>
                </div>
            </div>
        </div>
        <div id="tableCategoryContainer">
            @{
                Html.RenderAction("CategoryTable");
            }
        </div>

        <hr />
        <div id="createCategoryContainer">

        </div>
    </div>
</section>

<script>
    function focusAction(controlToFocus) {
        $('html, body').animate({
            scrollTop: $("#" + controlToFocus).offset().top - 100
        }, 1000);
    }
</script>